<!-- Navigation -->
<div class="navbar navbar-fixed-top scroll-hide">
    <div class="container-fluid top-bar">
        <div class="pull-right">
            <ul class="nav navbar-nav pull-right">
            <li class="dropdown notifications hidden-xs">
                {% set flashNotices = app.session.get('notices') %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span aria-hidden="true" class="se7en-flag"></span>
                    <div class="sr-only">Notifications</div>
                    <p class="counter">{{ majesCountNotification('notices') }}</p>
                </a>
                <ul class="dropdown-menu">

                    {% for source, notices in flashNotices %}
                        {% for notice in notices %}
                        <li><a href="{{ notice.url }}"{% if notice.target is defined %}target="{{ notice.target }}"{% endif %}>
                        <div class="notifications label label-{{ notice.status }}">{% if notice.status == 'danger' %}Error{% elseif notice.status == 'warning' %}Warning{% elseif notice.status == 'info' %}Info{% else %}Success{% endif %}</div>
                        {{ notice.title }}
                        </a></li>
                        {% endfor %}
 
                    {% endfor %}
                    
                </ul>
            </li>
            <li class="dropdown messages hidden-xs">
                {% set flashMessages = app.session.get('messages') %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span aria-hidden="true" class="se7en-envelope"></span>
                    <div class="sr-only">Messages</div>
                    <p class="counter">{{ majesCountNotification('messages') }}</p>
                </a>
                <ul class="dropdown-menu messages">

                    {% for source, messages in flashMessages %}
                        {% for message in messages %}
                        <li><a href="{{ message.url }}">
                        {% if message.media_id is defined and message.media_id is not null %}
                        <img src="{{ path('_media_load', {'id':message.media_id, 'width': '34', 'height': '34', 'crop': '1'}) }}" />
                        {% endif %}
                        {{ message.title }}
                        </a></li>
                        {% endfor %}
 
                    {% endfor %}
                    
                </ul>
            </li>
            <li class="dropdown settings hidden-xs">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span aria-hidden="true" class="se7en-gear"></span>
                    <div class="sr-only">Settings</div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="settings-link blue" href="javascript:chooseStyle('none', 30)"><span></span>Blue</a>
                    </li>
                    <li>
                        <a class="settings-link green" href="javascript:chooseStyle('green-theme', 30)"><span></span>Green</a>
                    </li>
                    <li>
                        <a class="settings-link orange" href="javascript:chooseStyle('orange-theme', 30)"><span></span>Orange</a>
                    </li>
                    <li>
                        <a class="settings-link magenta" href="javascript:chooseStyle('magenta-theme', 30)"><span></span>Magenta</a>
                    </li>
                    <li>
                        <a class="settings-link gray" href="javascript:chooseStyle('gray-theme', 30)"><span></span>Gray</a>
                  </li>
                </ul>
            </li>
            <li class="dropdown user hidden-xs">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    {% if app.user.getMedia() is not null %}<img src="{{ path('_media_load', {'id':app.user.getMedia().getId(), 'width': '34', 'height': '34', 'crop': '1'}) }}" />{% endif %}
                    {{ app.user.username }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('_admin_myaccount') }}">
                        <i class="icon-user"></i>My Account</a>
                    </li>
                    <li><a href="{{ path('_admin_logout') }}">
                        <i class="icon-signout"></i>Logout</a>
                    </li>
                </ul>
            </li>
            </ul>
        </div>
        
        <button class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="logo" href="http://www.majes.fr" target="_blank">majes</a>
        <form class="navbar-form form-inline col-lg-2 hidden-xs" action="{{ path('_search_admin') }}" method="post">
              <input class="form-control" placeholder="Search" type="text" name="query"{% if query is defined %} value="{{ query }}"{% endif %}>
        </form>
    </div>


    {{ include(
                'MajesCoreBundle:common:menu.html.twig'
            ) }}

</div>

<div class="alert" id="flashMessage">
  <button class="close" data-dismiss="alert" type="button">×</button><span id="flashMessageHtml">Success! You have completed your task.</span>
</div>
<!-- End Navigation -->