{% set params = {} %}
{% if urls.params is defined %}{% for key, param in urls.params %}{% set params = params|merge({ (key): param.default}) %}{% endfor %}{% endif %}
<div class="widget-container fluid-height clearfix">
  <div class="heading">
      <i class="icon-table"></i>{{ pageSubTitle }}
      {% if config.object.hasAdd %}<a href="{{ path(urls.add, params) }}" class="btn btn-success-outline pull-right"><i class="icon-plus"></i>{{ 'Add new'|trans({}, 'admin') }}</a>{% endif %}
      {% if urls.export is defined %}<a href="{{ path(urls.export) }}" class="btn btn-primary-outline pull-right"><i class="icon-save"></i>{{'Export'|trans({}, 'admin') }}</a>{% endif %}
      {% if urls.parse is defined %}<a href="{{ path(urls.parse) }}" class="btn btn-primary-outline pull-right"><i class="icon-refresh"></i>{{'Parse'|trans({}, 'admin')}}</a>{% endif %}
  </div>
  <div class="widget-content padded clearfix">
      <table class="table table-bordered table-striped{% if config.object.isDatatablejs %} dataTable{% if config.object.ajaxUrl is not empty %} ajaxTable{% endif %}{% endif %}" {% if config.object.ajaxUrl is not empty %}data-url="{{path(config.object.ajaxUrl)}}"{% endif %}>
        <thead>
            {% for config_item in config.column %}
            <th class="{{config_item.isMobile ? 'hidden-xs' : ''}}{{config_item.isSortable ? '' : ' sorting_disabled'}}">{{config_item.label|trans({}, 'admin')}}</th>
            {% endfor %}
            <th></th>
        </thead>
        {% if config.object.ajaxUrl is empty %}
        <tbody>
          {% for data in datas %}
            <tr>
              {% for config_item in config.column %}
              {% set column = config_item.column %}
              <td {{config_item.isMobile ? 'class="hidden-xs"' : ''}}>
                {{ get(data, config_item.column, config_item.format)|raw }}
              </td>
              {% endfor %}
              <td class="actions">
                  <div class="action-buttons">
                    {% if config.object.hasPreview %}<a class="table-actions" href=""><i class="icon-eye-open"></i></a>{% endif %}
                    {% set params = {'id' : data.id} %}
                    {% if urls.params is defined %}{% for key, param in urls.params %}{% set params = params|merge({ (key):get(data, param.key)}) %}{% endfor %}{% endif %}
                    {% if urls.edit is defined %}<a href="{{ path(urls.edit, params) }}" class="table-actions"><i class="icon-pencil"></i></a>{% endif %}
                    {% if urls.delete is defined %}{% if data.isSystem is defined %}{% if not data.isSystem %}<a href="{{ path(urls.delete, params) }}" class="table-actions" onclick="return CoreAdmin.Common.confirmDelete('{{ message|trans({}, 'admin') }}')"><i class="icon-trash"></i></a>{% endif %}{% else %}<a href="{{ path(urls.delete, params) }}" class="table-actions" onclick="return CoreAdmin.Common.confirmDelete('{{ message|trans({}, 'admin') }}')"><i class="icon-trash"></i></a>{% endif %}{% endif %}
                    {% for action, url in urls %}{% if action not in ['edit', 'export', 'add', 'delete', 'params', 'parse'] %}
                    <a href="{{ path(url.path, params) }}" class="table-actions"><i class="{{url.icon}}"></i></a>
                    {% endif %}{% endfor %}
                  </div>
              </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
      </table>
  </div>
</div>
