{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}
    <div class="container-fluid main-content">

      <!-- Statistics -->
      <div class="row">
        <div class="col-lg-4">
          <div class="widget-container weather">
            <div class="widget-content padded">
              <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-lg-12 today">
                  <p>
                     {{ 'TODAY'|trans({}, 'admin')}}
                  </p>
                  <img id="picTemp" src="" width="100" height="100">
                  <div class="number">
                    <span id="txtTemperature"></span><small>&deg;</small>
                  </div>
                  <p class="location">
                    <span id="txtCity"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% if stats.all is defined %}
        <div class="col-lg-8">
          <div class="widget-container stats-container">
            <div class="col-md-3">
              <div class="number">
                <div class="icon-long-arrow-up"></div>
                {{stats.all.percentNewVisits}}<small>%</small>
              </div>
              <div class="text">
                {{'Percentage new visits'|trans({}, 'admin') }}
              </div>
            </div>
            <div class="col-md-3">
              <div class="number">
                <div class="icon-stackexchange"></div>
                {{stats.all.newVisits}}
              </div>
              <div class="text">
                {{'New visitors this current month'|trans({}, 'admin') }}
              </div>
            </div>
            <div class="col-md-3">
              <div class="number">
                <div class="icon-time"></div>
                {{stats.all.avgTimeToSite}}<small>sec</small>
              </div>
              <div class="text">
                {{ 'Average time on site'|trans({}, 'admin') }}
              </div>
            </div>
            <div class="col-md-3">
              <div class="number">
                <div class="icon-file-text-alt"></div>
                {{stats.all.pageviewsPerVisits}}
              </div>
              <div class="text">
                {{'Page views per visit'|trans({}, 'admin') }}
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-lg-8" style="">
          <div class="widget-container fluid-height">
            <div class="alert alert-danger">
              {{'You need to activate Google Analytics API'|trans({}, 'admin') }}
            </div>
          </div>
        </div>
        {% endif %}

      </div>


      <div class="row">
        <!-- Area Charts:Morris -->
        <div class="col-md-6">
          <div class="widget-container fluid-height">
            <div class="heading">
              <i class="icon-bar-chart"></i>{{'New visits stats'|trans({}, 'admin') }}
            </div>
            <div class="widget-content padded text-center">
              <div class="graph-container">
                <div class="caption"></div>
                <div class="graph" id="hero-area"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Area Charts:Morris --><!-- Chat -->
        <div class="col-md-6">
            <div class="widget-container scrollable chat" style="height: 427px;">
              <div class="heading">
                <i class="icon-comments"></i>{{'Chat Widget'|trans({}, 'admin') }}<i class="icon-smile pull-right"></i>
              </div>
              <div class="widget-content padded">
                <ul>
                  {% for chat_line in chat %}
                  <li{% if app.user.id == chat_line.user.id %} class="current-user"{% endif %}>
                    {% if chat_line.user.media.id is defined and chat_line.user.media.id is not null %}
                        <img src="{{ path('_media_load', {'id':chat_line.user.media.id, 'width': '30', 'height': '30', 'crop': '1'}) }}" />
                        {% endif %}
                    <div class="bubble">
                      <a class="user-name" href="">{{ chat_line.user.firstname }} {{ chat_line.user.lastname }}</a>
                      <p class="message">
                        {{ chat_line.content }}
                      </p>
                      <p class="time">
                        {{ chat_line.createDate|date("d/m/Y H:i:s") }}
                      </p>
                    </div>
                  </li>
                  {% endfor %}
                  {% if chat|length == 0 %}<li>
                    <div class="bubble">
                      <p class="message">
                        {{'Be the first to post a word.'|trans({}, 'admin') }}
                      </p>
                      <p class="time"></p>
                    </div>
                  </li>{% endif %}
                </ul>
              </div>
              <div class="post-message">
                <form method="POST">
                <input class="form-control" placeholder="Write your message here..." name="content" type="text"><input type="submit" value="{{'Send'|trans({}, 'admin')}}">
                </form>
              </div>
            </div>
          </div>
        <!-- End Chat -->
      </div>


      {#
      <div class="row">
        <div class="col-lg-12">
          <div class="widget-container fluid-height">
            <div class="heading">
              <i class="icon-dashboard"></i> {% trans %} Various Infos {% endtrans %}
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="widget-container stats-container">

            {% for widget in variouswidgets %}
              {% if widget.flags is defined or widget.images is defined %}
              <div class="col-md-2">
                <div class="number">
                  <div class="{% if widget.number.icon is defined %} {{widget.number.icon}} {% endif %}"></div>
                  {{ widget.number.value }}
                </div>
                <div class="text">
                  {{ widget.label|trans }}
                </div>
                <div class="text">
                  {% if widget.flags is defined  %}
                    {% for item in widget.flags %}
                      {% if fileExists('bundles/majescore/images/flag-' ~ item.locale ~ '.png') %}
                        <img src="{{ asset('bundles/majescore/images/flag-' ~ item.locale ~ '.png') }}"/>
                      {% endif %}
                    {% endfor %}
                  {% elseif widget.images is defined %}
                    {% for item in widget.images %}
                        {% set options = {'class' : 'picture rounded'} %}
                        {{ teelMediaLoad(item.id, 70, 70, false, asset('bundles/majesmedia/img/icon-document.png'), options)|raw }}
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              {% else %}
              <div class="col-md-2">
                <div class="number">
                  <div class="{% if widget.number.icon is defined %} {{widget.number.icon}} {% endif %}"></div>
                  {{ widget.number.value }}
                </div>
                <div class="text">
                  {{ widget.label|trans }}
                </div>
                <div class="text">
                  {% if widget.active.value is defined %}
                  <div class="{% if widget.active.icon is defined %} {{widget.active.icon}} {% endif %}"></div>
                  {{ widget.active.value }}
                  {% endif %}
                  {% if widget.deleted.value is defined %}
                  <div class="{% if widget.deleted.icon is defined %} {{widget.deleted.icon}} {% endif %}"></div>
                  {{ widget.deleted.value }}
                  {% endif %}
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div> #}

      <script>

      $(document).ready(function(){
        if ($('#hero-area').length) {
        var data = Array();

        {% for period, stat in google %}var obj = {period: "{{ period }}", all: {{ stat.all.newVisits }}, mobile: {{ stat.mobile.newVisits }}, tablet: {{ stat.tablet.newVisits }} }; data.push(obj);{% endfor %}

        Morris.Area({
          element: "hero-area",
          data: data,
          xkey: "period",
          ykeys: ["all", "mobile", "tablet"],
          labels: ["All", "Mobile", "Tablet"],
          hideHover: "auto",
          lineWidth: 2,
          pointSize: 4,
          lineColors: ["#a0dcee", "#f1c88e", "#a0e2a0"],
          fillOpacity: 0.5,
          smooth: true
        });
      }
      $.MyWeather({
        showpopup: false,
        plainfolder: '{{ asset('bundles/majescore/images') }}'
      },function(City,Country, IP, Latitude, Longitude, Temperature, Picture){

        $("#txtCity").html(City);
        $("#txtTemperature").html(parseInt(Temperature));
        $("#picTemp").attr("src",Picture)
      });
      });
      </script>

{% endblock %}
