{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}
    <div class="container-fluid main-content">
      
      <!-- Statistics -->
      <div class="row">
        <div class="col-lg-4">
          <div class="widget-container weather">
            <div class="widget-content padded">
              <div class="row text-center">
                <div class="col-sm-12 col-md-12 col-lg-12 today">
                  <p>
                    TODAY
                  </p>
                  <img id="picTemp" src="" width="100" height="100">
                  <div class="number">
                    <span id="txtTemperature"></span><small>&deg;</small>
                  </div>
                  <p class="location">
                    <span id="txtCity"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if google._analytics is not null %}
        <div class="col-lg-8">
          <div class="widget-container stats-container">
            <div class="col-md-3">
              <div class="number">
                <div class="icon-long-arrow-up"></div>
                {{google._analytics.percent_new_visits}}<small>%</small>
              </div>
              <div class="text">
                {% trans %}Percentage new visits{% endtrans %}
              </div>
            </div>
            <div class="col-md-3">
              <div class="number">
                <div class="icon-stackexchange"></div>
                {{google._analytics.new_visits}}
              </div>
              <div class="text">
                {% trans %}New visitors this current month{% endtrans %}
              </div>
            </div>
            <div class="col-md-3">
              <div class="number">
                <div class="icon-time"></div>
                {{google._analytics.average_time}}<small>sec</small>
              </div>
              <div class="text">
                {% trans %}Average time on site{% endtrans %}
              </div>
            </div>
            <div class="col-md-3">
              <div class="number">
                <div class="icon-file-text-alt"></div>
                {{google._analytics.pageviews_visit}}
              </div>
              <div class="text">
                {% trans %}Page views per visit{% endtrans %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      
      
      <div class="row">
        <!-- Area Charts:Morris -->
        <div class="col-md-6">
          <div class="widget-container fluid-height">
            <div class="heading">
              <i class="icon-bar-chart"></i>{% trans %}Area Chart{% endtrans %}
            </div>
            <div class="widget-content padded text-center">
              <div class="graph-container">
                <div class="caption"></div>
                <div class="graph" id="hero-area"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Area Charts:Morris --><!-- Chat -->
        <div class="col-md-6">
            <div class="widget-container scrollable chat" style="height: 427px;">
              <div class="heading">
                <i class="icon-comments"></i>Chat Widget<i class="icon-smile pull-right"></i>
              </div>
              <div class="widget-content padded">
                <ul>
                  {% for chat_line in chat %}
                  <li{% if app.user.id == chat_line.user.id %} class="current-user"{% endif %}>
                    {% if chat_line.user.media.id is defined and chat_line.user.media.id is not null %}
                        <img src="{{ path('_media_load', {'id':chat_line.user.media.id, 'width': '30', 'height': '30', 'crop': '1'}) }}" />
                        {% endif %}
                    <div class="bubble">
                      <a class="user-name" href="">{{ chat_line.user.firstname }} {{ chat_line.user.lastname }}</a>
                      <p class="message">
                        {{ chat_line.content }}
                      </p>
                      <p class="time">
                        {{ chat_line.createDate|date("d/m/Y H:i:s") }}
                      </p>
                    </div>
                  </li>
                  {% endfor %}
                  {% if chat|length == 0 %}<li>
                    <div class="bubble">
                      <p class="message">
                        {% trans %}Be the first to post a word.{% endtrans %}
                      </p>  
                      <p class="time"></p>
                    </div>
                  </li>{% endif %}
                </ul>
              </div>
              <div class="post-message">
                <form method="POST">
                <input class="form-control" placeholder="Write your message here..." name="content" type="text"><input type="submit" value="Send">
                </form>
              </div>
            </div>
          </div>
        <!-- End Chat -->
      </div>
      <script>
      $.MyWeather({
        showpopup: false,
        plainfolder: '{{ asset('bundles/majescore/images') }}'
      },function(City,Country, IP, Latitude, Longitude, Temperature, Picture){
    
        $("#txtCity").html(City);
        $("#txtTemperature").html(parseInt(Temperature));
        $("#picTemp").attr("src",Picture)
      });
      </script>
  
{% endblock %}
