{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="container-fluid main-content">

	{{ include(
                'MajesCoreBundle:common:breadcrumbs.html.twig'
            ) }}

    <div class="page-title">
      <h1>{{pageTitle|trans({}, 'admin') }}</h1>
    </div>
	<div class="row">
		<div class="col-lg-12">
	    	<div class="widget-container fluid-height clearfix">

				<div class="heading tabs">
        	    	<i class="icon-user"></i> {{pageSubTitle|trans({}, 'admin') }}
        	      	<ul class="nav nav-tabs pull-right" data-tabs="tabs" id="tabs">
        	        	<li class="active">
							<a data-toggle="tab" href="#tab1">
								{% if icon is not null %}<i class="{{icon}}"></i>{% endif %}
								<span>{{'Details'|trans({}, 'admin') }}  </span>
							</a>
        	        	</li>
        	      	</ul>
        	    </div>



				<div class="tab-content padded" id="my-tab-content">
					<div class="tab-pane active" id="tab1">
						{% form_theme form 'MajesCoreBundle:Form:fields.html.twig' %}
	    	    		{{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
	    	    		<div class="col-md-3">

	    	  			</div>
	    				<div class="col-md-6">

	    	    			<div class="widget-content padded">

								{{ form_errors(form) }}
	    	    				{{ form_widget(form) }}

	    	    		  		<div class="form-actions col-lg-offset-3 col-lg-9">
	    	    		    		<input type="submit" class="btn btn-primary" value="{{'Submit'|trans({}, 'admin') }}" />
	    	    		    		<a href="{{ path('_admin_users') }}" class="btn btn-default-outline">{{'Cancel'|trans({}, 'admin') }}</a>
	    	    		  		</div>

	    	    			</div>
	    	  			</div>
	    	  			{{ form_end(form) }}
	    	  		</div>
	    	  	</div>

	    	</div>
		</div>
	</div>

</div>
{% for collection in collections %}
<script>$(document).ready(function(){
            CoreAdmin.Common.collectionHolder('{{ collection.holder }}', '{{ collection.label }}');
        })</script>
{% endfor %}
{% endblock %}
