{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="container-fluid main-content">

	{{ include(
                'MajesCoreBundle:common:breadcrumbs.html.twig'
            ) }}

    <div class="page-title">
      <h1>{{pageTitle|trans({}, 'admin') }}</h1>
    </div>
	<div class="row">
	    <div class="widget-container fluid-height clearfix">
	    	<div class="heading">
	        	<i class="icon-user"></i> {{pageSubTitle|trans({}, 'admin') }}
	        </div>
			<form method="post" class="form-horizontal">
	    	<div class="row">
	    	<div class="col-md-3">

	    	</div>
	    	<div class="col-md-6">

	    		<div class="widget-content padded">


          			<div class="form-group">
          			  	<label class="control-label col-md-2">{{'Token'|trans({}, 'admin') }}</label>
          			  	<div class="col-md-9">
          			    	<input class="form-control" value="{% if token is not null %}{{token.token}}{% endif %}" name="token" placeholder="Token" type="text">
          			  	</div>
          			</div>
          			<!--<div class="form-group">
          			  	<label class="control-label col-md-2">{% trans %}Catalogue{% endtrans %}</label>
          			  	<div class="col-md-9">
          			    	<input class="form-control" value="messages" disabled name="catalogue" placeholder="messages" type="text">
          			  	</div>
          			</div>-->



	    		</div>
	    	</div>
			</div>

			<div class="widget-content padded"><h3>{{'Translations'|trans({}, 'admin') }}</h3></div>

			{% for catalogue, translationsCat in translations %}
			<div class="row">

				<div class="col-md-12">
					<div class="widget-content padded">
						<div class="form-group">
          				  <label class="control-label col-md-3">{{'Domaine'|trans({}, 'admin')}}</label>
          				  <div class="col-md-5">
          				    <input class="form-control" name="translations[{{catalogue}}][catalogue]" value="{{catalogue}}"/>
          				  </div>
          				</div>
	    			</div>

				</div>
				{% for lang, translation in translationsCat %}
				<div class="col-md-6">

	    			<div class="widget-content padded">
						<div class="form-group">
          				  <label class="control-label col-md-3">{{ translation.name }}</label>
          				  <div class="col-md-9">
          				    <textarea class="form-control" rows="4" name="translations[{{catalogue}}][{{lang}}]">{{ translation.value }}</textarea>
          				  </div>
          				</div>
	    			</div>
	    		</div>
	    		{% endfor %}
			</div>

			{% endfor %}

			<div class="widget-content padded">
	    	  		<div class="form-actions col-lg-offset-3 col-lg-9">
	    	    		<input type="submit" class="btn btn-primary" value="{{'Submit'|trans({}, 'admin') }}" />
	    	    		<a href="{{ path('_admin_users') }}" class="btn btn-default-outline">{{'Cancel'|trans({}, 'admin') }}</a>
	    	  		</div>
	    	</div>
	    	</form>
	    </div>
	</div>

</div>


{% endblock %}
