{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Dashboard{% endblock %}

{% block content_header '' %}

{% block content %}
<div class="container-fluid main-content">

	{{ include(
                'MajesCoreBundle:common:breadcrumbs.html.twig'
            ) }}

    <div class="page-title">
      <h1>{% trans %}%pageTitle%{% endtrans %}</h1>
    </div>
	<div class="row">
	    <div class="widget-container fluid-height clearfix">
	    	<div class="heading">
	        	<i class="icon-user"></i> {% trans %}%pageSubTitle%{% endtrans %}
	        </div>
			<form method="post" class="form-horizontal">
	    	<div class="row">
	    	<div class="col-md-3">
				
	    	</div>
	    	<div class="col-md-6">
	    		
	    		<div class="widget-content padded">
	    	  		
					
          			<div class="form-group">
          			  	<label class="control-label col-md-2">{% trans %}Token{% endtrans %}</label>
          			  	<div class="col-md-9">
          			    	<input class="form-control" value="{% if token is not null %}{{token.token}}{% endif %}" name="token" placeholder="Token" type="text">
          			  	</div>
          			</div>
          			<!--<div class="form-group">
          			  	<label class="control-label col-md-2">{% trans %}Catalogue{% endtrans %}</label>
          			  	<div class="col-md-9">
          			    	<input class="form-control" value="messages" disabled name="catalogue" placeholder="messages" type="text">
          			  	</div>
          			</div>-->
        			
			
					
	    		</div>
	    	</div>
			</div>

			<div class="widget-content padded"><h3>{% trans %}Translations{% endtrans %}</h3></div>

			<div class="row">
				{% for lang, translation in translations %}
				<div class="col-md-6">
	    		
	    			<div class="widget-content padded">
						<div class="form-group">
          				  <label class="control-label col-md-3">{{ translation.name }}</label>
          				  <div class="col-md-9">
          				    <textarea class="form-control" rows="4" name="translations[{{lang}}]">{{ translation.value }}</textarea>
          				  </div>
          				</div>
	    			</div>
	    		</div>
	    		{% endfor %}
			</div>
			
			<div class="widget-content padded">
	    	  		<div class="form-actions col-lg-offset-3 col-lg-9">
	    	    		<input type="submit" class="btn btn-primary" value="{% trans %}Submit{% endtrans %}" />
	    	    		<a href="{{ path('_admin_users') }}" class="btn btn-default-outline">{% trans %}Cancel{% endtrans %}</a>
	    	  		</div>
	    	</div>
	    	</form>
	    </div>
	</div>

</div>


{% endblock %}