{% set setup = setupAttribute(block_attribute.attribute.ref) %}

{% if setup.ref == 'listbox' %}
	<span class="pull-left"><select name="setup[{{ block_attribute.id }}]" value="{% if block_attribute.setup is not null %}{{ block_attribute.setup }}{% else %}""{% endif %}" class="form-control" style="margin: -6px 6px 0; padding:0; border:none;">
	  {% for list in setup.lists %}
	  <option value="{{list.id}}" {% if block_attribute.setup == list.id %}selected{% endif %}>{{list.name}}</option>
	  {% endfor %}
	</select></span>
	<script>
	$('select.form-control').select2();
	</script>
{% endif %}
{% if setup.ref == 'listboxmultiple' %}
	<span class="pull-left"><select name="setup[{{ block_attribute.id }}]" value="{% if block_attribute.setup is not null %}{{ block_attribute.setup }}{% else %}""{% endif %}" class="form-control" style="margin: -6px 6px 0; padding:0; border:none;">
	  {% for list in setup.lists %}
	  <option value="{{list.id}}" {% if block_attribute.setup == list.id %}selected{% endif %}>{{list.name}}</option>
	  {% endfor %}
	</select></span>
	<script>
	$('select.form-control').select2();
	</script>
{% endif %}