{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_row %}
{% spaceless %}
    <div class="form-group">
        {{ form_label(form) }}
        <div class="col-lg-9">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <div class="widget-content padded form_errors">
        <div class="alert alert-danger">
            <!--<button class="close" data-dismiss="alert" type="button">×</button>-->
            {% for error in errors %}
                {{
                    error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                }}
            {% endfor %}
        </div>
        </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('control-label col-lg-3'))|trim}) %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }} </label>
{% endspaceless %}
{% endblock form_label %}


{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    {% if type == 'file' %}
        {% if mediapicker %}
            <div class="form-group">
                <label for="myaccount_is_active" class="control-label col-lg-3">{% trans %}Preview{% endtrans %}</label>
                <div class="col-lg-9">
                    {% if data is not null %}
                    <img src="{{ teelMediaLoad(data.id, 200, 200, false, asset('bundles/majesmedia/img/icon-document.png'),{ 'src' : true })|raw }}" width="200" title="{{data.title}}" id="previewpicker"/>
                    {% else %}
                    <img src="" title="" id="previewpicker" width="200"/>
                    {% endif %}
                </div>
            </div>

            <div class="form-group">
                <label for="myaccount_media" class="control-label col-lg-3"> Media </label>
                <div class="col-lg-9">
                    <input type="hidden" id="picker_id" name="{{full_name}}[id]" value="{% if data is not null %}{{data.id}}{% endif %}" >
                    <div class="widget-container fluid-height">
                        <div class="heading tabs">
                            <ul class="nav nav-tabs pull-right" data-tabs="tabs" id="tabs{{name}}">
                                <li class="active">
                                    <a data-toggle="tab" href="#tab1{{name}}"><i class="icon-comments"></i><span>{% trans %}Upload new file{% endtrans %}</span></a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#tab2{{name}}" class="triggerMediaPicker"><i class="icon-user"></i><span>{% trans %}Existing media{% endtrans %}</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="my-tab-content{{name}}">
                            <div class="tab-pane lol active" id="tab1{{name}}" style="padding: 10px;">
                                <input type="file" name="{{full_name}}[value]">
                            </div>
                            <div class="tab-pane" id="tab2{{name}}">
                                <iframe src="{{path('_media_picker', {'context': 'cms'})}}?ref=picker" style="width: 100%; border: 0; height: 500px;"></iframe>
                            </div>

                        </div>
                    </div>


                </div>
            </div>


            <div class="form-group">
                <label for="myaccount_is_active" class="control-label col-lg-3">{% trans %}Remove{% endtrans %}</label>
                <div class="col-lg-9">
                    <label class="checkbox">
                                <input type="checkbox" name="{{full_name}}[remove]" value="1"><span></span>
                    </label>
                </div>
            </div>





            <script>
            $(document).ready(function(){

                $("a.triggerMediaPicker").click(function(e){
                    e.preventDefault();
                });

            });
            </script>
        {% else %}
            <div class="fileupload fileupload-new" data-provides="fileupload"><input type="hidden">
                <div class="input-group">
                  <div class="form-control">
                    <i class="icon-file fileupload-exists"></i><span class="fileupload-preview"></span>
                  </div>
                  <div class="input-group-btn">
                    <a class="btn btn-default fileupload-exists" data-dismiss="fileupload" href="#">Remove</a><span class="btn btn-default btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/></span>
                  </div>
                </div>
            </div>
        {% endif %}
    {% else %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
    {% if type == 'file' %}{{ value }}{% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_widget(prototype) }) %}
    {% endif %}
    {{ block('form_widget_collection') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_collection -%}
    <ul {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows_collection') -}}
        {{- form_rest(form) -}}
    </ul>
{%- endblock form_widget_collection %}

{% block form_widget_collection_child -%}
    <li class="list-group-item text-right">
        {%- if form.parent is empty -%}
            {{ form_errors(child) }}
        {%- endif -%}
        {{- form_widget(child) -}}
        {{- form_rest(child) -}}
    </li>
{%- endblock form_widget_collection_child %}

{% block form_rows_collection -%}
    {% for child in form %}
        {{ block('form_widget_collection_child') }}
    {% endfor %}
{%- endblock form_rows_collection %}


{% block file_widget %}
    {% spaceless %}

    {{ block('form_widget') }}
    {% if (media_id is not null) %}
        <div class="media-container" style="margin: 15px 0 0">
        {{ teelMediaLoad(media_id, 200, 150, false, asset('bundles/majesmedia/img/icon-document.png'))|raw }}
        </div>
    {% endif %}

    {% endspaceless %}
{% endblock %}


{% block choice_widget_collapsed %}
{% spaceless %}
    {% if required and empty_value is none and not empty_value_in_choices %}
        {% set required = false %}
    {% endif %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="{% if select2 is not null %}select2able{% else %}form-control{% endif %}">
        {% if empty_value is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}



{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}


{% block text_widget %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control"/>
{% endblock text_widget %}

{% block number_widget -%}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control"/>
{%- endblock number_widget %}

{% block textarea_widget %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }} class="form-control">{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}


{% block checkbox_widget %}
    <label class="checkbox">
        <input type="checkbox" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}{% if checked %} checked="checked"{% endif %}/>
        <span>{{label}}</span>
    </label>
{% endblock checkbox_widget %}

{% block password_widget %}
    <input type="password" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control" autocomplete="off"/>
{% endblock password_widget %}

{% block email_widget %}
    <input type="email" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} class="form-control email"/>
{% endblock email_widget %}
